[run]
branch = True

source =
    src/coincurve
    tests

omit =
    */_version.py
    */_windows_libsecp256k1.py
    */test_bench.py
    */test_init.py

[paths]
source =
   coincurve
   .tox/*/lib/python*/site-packages/coincurve
   .tox/pypy*/site-packages/coincurve

[report]
exclude_lines =
    no cov
    no qa

    # Ignore missing debug-only code
    def __repr__
    if self\.debug

    # Ignore non-runnable code
    if __name__ == .__main__.:
