[run]
branch = True
source =
    coincurve
    tests/

[paths]
source =
   coincurve/
   .tox/*/lib/python*/site-packages/coincurve
   .tox/pypy/site-packages/coincurve

[report]
exclude_lines =
    no cov
    no qa

    # Ignore missing debug-only code
    def __repr__
    if self\.debug

    # Ignore non-runnable code
    if __name__ == .__main__.:
