*.log
*.pyc
/.cache
/.coverage
/.eggs
/.idea
/.mypy_cache
/.tox
/coincurve.egg-info
/build
/dist
/site
/wheelhouse
/pip-wheel-metadata

/src/coincurve/_libsecp256k1.py
/src/coincurve/libsecp256k1.dll
