sudo: true
dist: xenial
language: python

cache:
  directories:
    - $HOME/.cache/pip

# Only build master, release branches, and version tags (which are considered
# branches by Travis, see https://github.com/travis-ci/travis-ci/issues/8518)
branches:
  only:
    - master
    - /^release.+$/
    - /^[0-9]+\.[0-9]+\.[0-9]+.*$/

env:
  global:
    - LD_LIBRARY_PATH=./libsecp256k1_ext/.libs
    - DYLD_FALLBACK_LIBRARY_PATH=./libsecp256k1_ext/.libs
    - LIB_DIR=./libsecp256k1_ext/.libs
    - INCLUDE_DIR=./libsecp256k1_ext/include
    - PYPI_USERNAME=Ofekmeister

matrix:
  include:
    # - python: 3.7
    #   env: TOXENV=style
    - python: 2.7
      env: TOXENV=py27
    - python: 3.5
      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36
    - python: 3.7
      env: TOXENV=py37
    - python: pypy3
      # PyPy3 isn't yet available for Xenial
      dist: trusty
      env: TOXENV=pypy3
    - os: osx
      language: generic
      osx_image: xcode10.1
      python: 2.7
      env: TOXENV=py27 TRAVIS_PYTHON_VERSION=2.7
    - os: osx
      language: generic
      osx_image: xcode10.1
      python: 3.5
      env: TOXENV=py35 TRAVIS_PYTHON_VERSION=3.5
    - os: osx
      language: generic
      osx_image: xcode10.1
      python: 3.6
      env: TOXENV=py36 TRAVIS_PYTHON_VERSION=3.6 NEED_SSL_FIX=true
    - os: osx
      language: generic
      osx_image: xcode10.1
      python: 3.7
      env: TOXENV=py37 TRAVIS_PYTHON_VERSION=3.7
    - os: linux
      language: python
      python: 3.5
      sudo: required
      services:
        - docker
      env: TOXENV=py35 BUILD_LINUX_WHEELS=1
addons:
  apt:
    packages:
      - git
      - libtool
      - autoconf
      - automake
      - pkg-config
      - libffi-dev
      - libgmp-dev
before_install:
  - chmod +x .travis/prepare_windows_build.sh .travis/build_windows_wheels.sh
  - .travis/prepare_windows_build.sh
  - source .travis/install.sh
install:
  - pip install tox
script:
  - tox

deploy:
  - provider: script
    skip_cleanup: true
    script: chmod +x .travis/deploy.sh && chmod +x .travis/build-linux-wheels.sh && .travis/deploy.sh
    on:
      repo: ofek/coincurve
      tags: true
